*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.my_container{
    width: 100%;
}

// for slider images
#carouselExampleCaptions .carousel-inner{
    width: 100%;
    height: 80vh;
    .carousel-item{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            background:linear-gradient(black, black);
        }
    }
    // text
    .carousel-item{
        .carousel-caption{
            color: white;
            text-shadow: 1px 1px 4px black;
            background-color: rgba(0, 0, 0, 0.479);
            font-weight: 600;
            h5{
                font-size: 1.5rem;
            }
            p{
                font-size: 1rem;
            }
        }
    }
}
// slider controls
#carouselExampleCaptions{
    .carousel-control-prev, 
    .carousel-control-next{
        background-color: rgba(0, 0, 0, 0.075);
        &:hover{
            background-color: rgba(0, 0, 0, 0.336);
        }
    }
    // .carousel-indicators{
    //     background-color: rgba(0, 0, 0, 0.39);
    //     button{
    //         color: royalblue;
    //     }
    // }
}
@media screen and (max-width:650px){
    #carouselExampleCaptions .carousel-inner{
        height: 60vh;
    }
}
@media screen and (max-width:500px){
    #carouselExampleCaptions .carousel-inner{
        height: 50vh;
    }
}
@media screen and (max-width:500px){
    #carouselExampleCaptions .carousel-inner{
        height: 42vh;
    }
}





@import "./partials/_nav.scss";
@import "./partials/sidebar";
@import "./partials/about";
@import "./partials/choose";
@import "./partials/products";
@import "./partials/footer";